//
// RecordsAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class RecordsAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://edc.prod.imednetapi.com/api/v1/edc")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum CreateRecordsError: Error, CustomStringConvertible {
        // Bad request (malformed or invalid input)
        case code400Error(InlineObject)
        // Authentication failed or was not provided
        case code401Error(InlineObject1)
        // Authenticated but not allowed to access the resource
        case code403Error(InlineObject2)
        // The requested resource was not found
        case code404Error(InlineObject3)
        // Too many requests (rate limit exceeded)
        case code429Error(InlineObject4)
        // Internal server error (unexpected condition encountered)
        case code500Error(InlineObject5)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "CreateRecordsError: Bad request (malformed or invalid input): \(object)"
            case .code401Error(let object):
                return "CreateRecordsError: Authentication failed or was not provided: \(object)"
            case .code403Error(let object):
                return "CreateRecordsError: Authenticated but not allowed to access the resource: \(object)"
            case .code404Error(let object):
                return "CreateRecordsError: The requested resource was not found: \(object)"
            case .code429Error(let object):
                return "CreateRecordsError: Too many requests (rate limit exceeded): \(object)"
            case .code500Error(let object):
                return "CreateRecordsError: Internal server error (unexpected condition encountered): \(object)"
            }
        }
    }

    /// Add new record or update subject/record data
    /// - POST /studies/{studyKey}/records
    /// - API Key:
    /// - type: apiKey x-api-key (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey x-imn-security-key (HEADER)
    /// - name: securityKeyAuth
    /// - parameter studyKey: (path) Study key identifying the study context for the request 
    /// - parameter componentsSchemasRecordCreateRequestItem: (body) An array of record objects defining the operation to perform (subject registration, record creation, or scheduled record update). 
    /// - returns: AnyPublisher<RecordJobStatus, Error> 
    open func createRecords(studyKey: String, componentsSchemasRecordCreateRequestItem: [ComponentsSchemasRecordCreateRequestItem]) -> AnyPublisher<RecordJobStatus, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/studies/{studyKey}/records"
                localVarPath = localVarPath.replacingOccurrences(of: "{studyKey}", with: studyKey)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                let components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "POST"
                request.httpBody = try self.encoder.encode(componentsSchemasRecordCreateRequestItem)
                request.setValue("application/json", forHTTPHeaderField: "Content-Type")
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<RecordJobStatus, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(InlineObject.self, from: transportError.data)
                            return CreateRecordsError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(InlineObject1.self, from: transportError.data)
                            return CreateRecordsError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(InlineObject2.self, from: transportError.data)
                            return CreateRecordsError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(InlineObject3.self, from: transportError.data)
                            return CreateRecordsError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 429 {
                        do {
                            let error = try self.decoder.decode(InlineObject4.self, from: transportError.data)
                            return CreateRecordsError.code429Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 500 {
                        do {
                            let error = try self.decoder.decode(InlineObject5.self, from: transportError.data)
                            return CreateRecordsError.code500Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(RecordJobStatus.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }

    public enum ListRecordsError: Error, CustomStringConvertible {
        // Bad request (malformed or invalid input)
        case code400Error(InlineObject)
        // Authentication failed or was not provided
        case code401Error(InlineObject1)
        // Authenticated but not allowed to access the resource
        case code403Error(InlineObject2)
        // The requested resource was not found
        case code404Error(InlineObject3)
        // Internal server error (unexpected condition encountered)
        case code500Error(InlineObject5)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ListRecordsError: Bad request (malformed or invalid input): \(object)"
            case .code401Error(let object):
                return "ListRecordsError: Authentication failed or was not provided: \(object)"
            case .code403Error(let object):
                return "ListRecordsError: Authenticated but not allowed to access the resource: \(object)"
            case .code404Error(let object):
                return "ListRecordsError: The requested resource was not found: \(object)"
            case .code500Error(let object):
                return "ListRecordsError: Internal server error (unexpected condition encountered): \(object)"
            }
        }
    }

    /// List records (eCRF instances) in a study
    /// - GET /studies/{studyKey}/records
    /// - API Key:
    /// - type: apiKey x-api-key (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey x-imn-security-key (HEADER)
    /// - name: securityKeyAuth
    /// - parameter studyKey: (path) Study key identifying the study context for the request 
    /// - parameter page: (query) Page index to retrieve (0-based) (optional, default to 0)
    /// - parameter size: (query) Number of items to return per page (max 500) (optional, default to 25)
    /// - parameter sort: (query) Sorting criteria in the format &#x60;property,ASC&#x60; or &#x60;property,DESC&#x60;. Can be repeated. (optional)
    /// - parameter filter: (query) Optional filter criteria to apply, in the format &#x60;attribute&#x3D;&#x3D;value&#x60; with support for &gt;, &gt;&#x3D;, &lt;, &lt;&#x3D;, !&#x3D;. Multiple criteria can be combined with &#x60;;&#x60; (AND) or &#x60;,&#x60; (OR). (optional)
    /// - parameter recordDataFilter: (query) Optional filter criteria to apply on recordData fields (question responses). Supports &#x3D;&#x3D;, !&#x3D;, &lt;, &lt;&#x3D;, &gt;, &gt;&#x3D;, &#x3D;~ (contains) and can combine multiple criteria with &#x60;;&#x60; (AND) or &#x60;,&#x60; (OR). (optional)
    /// - returns: AnyPublisher<RecordList, Error> 
    open func listRecords(studyKey: String, page: Int? = nil, size: Int? = nil, sort: String? = nil, filter: String? = nil, recordDataFilter: String? = nil) -> AnyPublisher<RecordList, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/studies/{studyKey}/records"
                localVarPath = localVarPath.replacingOccurrences(of: "{studyKey}", with: studyKey)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let page = page { queryItems.append(URLQueryItem(name: "page", value: "\(page)")) } 
                if let size = size { queryItems.append(URLQueryItem(name: "size", value: "\(size)")) } 
                if let sort = sort { queryItems.append(URLQueryItem(name: "sort", value: sort)) } 
                if let filter = filter { queryItems.append(URLQueryItem(name: "filter", value: filter)) } 
                if let recordDataFilter = recordDataFilter { queryItems.append(URLQueryItem(name: "recordDataFilter", value: recordDataFilter)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<RecordList, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(InlineObject.self, from: transportError.data)
                            return ListRecordsError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(InlineObject1.self, from: transportError.data)
                            return ListRecordsError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(InlineObject2.self, from: transportError.data)
                            return ListRecordsError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(InlineObject3.self, from: transportError.data)
                            return ListRecordsError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 500 {
                        do {
                            let error = try self.decoder.decode(InlineObject5.self, from: transportError.data)
                            return ListRecordsError.code500Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(RecordList.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
