//
// SitesAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech

import Foundation
import Combine
import OpenAPITransport


open class SitesAPI {
    private let transport: OpenAPITransport
    public var encoder: JSONEncoder = {
        let encoder = JSONEncoder()
        encoder.dateEncodingStrategy = .formatted(OpenISO8601DateFormatter())
        return encoder
    }()
    public var decoder: JSONDecoder = {
        let decoder = JSONDecoder()
        decoder.dateDecodingStrategy = .formatted(OpenISO8601DateFormatter())
        return decoder
    }()
    public var baseURL = URL(string: "https://edc.prod.imednetapi.com/api/v1/edc")

    public init(_ transport: OpenAPITransport) {
        self.transport = transport
    }

    public enum ListSitesError: Error, CustomStringConvertible {
        // Bad request (malformed or invalid input)
        case code400Error(InlineObject)
        // Authentication failed or was not provided
        case code401Error(InlineObject1)
        // Authenticated but not allowed to access the resource
        case code403Error(InlineObject2)
        // The requested resource was not found
        case code404Error(InlineObject3)
        // Internal server error (unexpected condition encountered)
        case code500Error(InlineObject5)

        public var description: String {
            switch self {
            case .code400Error(let object):
                return "ListSitesError: Bad request (malformed or invalid input): \(object)"
            case .code401Error(let object):
                return "ListSitesError: Authentication failed or was not provided: \(object)"
            case .code403Error(let object):
                return "ListSitesError: Authenticated but not allowed to access the resource: \(object)"
            case .code404Error(let object):
                return "ListSitesError: The requested resource was not found: \(object)"
            case .code500Error(let object):
                return "ListSitesError: Internal server error (unexpected condition encountered): \(object)"
            }
        }
    }

    /// List sites for a study
    /// - GET /studies/{studyKey}/sites
    /// - API Key:
    /// - type: apiKey x-api-key (HEADER)
    /// - name: apiKeyAuth
    /// - API Key:
    /// - type: apiKey x-imn-security-key (HEADER)
    /// - name: securityKeyAuth
    /// - parameter studyKey: (path) Study key identifying the study context for the request 
    /// - parameter page: (query) Page index to retrieve (0-based) (optional, default to 0)
    /// - parameter size: (query) Number of items to return per page (max 500) (optional, default to 25)
    /// - parameter sort: (query) Sorting criteria in the format &#x60;property,ASC&#x60; or &#x60;property,DESC&#x60;. Can be repeated. (optional)
    /// - parameter filter: (query) Optional filter criteria to apply, in the format &#x60;attribute&#x3D;&#x3D;value&#x60; with support for &gt;, &gt;&#x3D;, &lt;, &lt;&#x3D;, !&#x3D;. Multiple criteria can be combined with &#x60;;&#x60; (AND) or &#x60;,&#x60; (OR). (optional)
    /// - returns: AnyPublisher<SiteList, Error> 
    open func listSites(studyKey: String, page: Int? = nil, size: Int? = nil, sort: String? = nil, filter: String? = nil) -> AnyPublisher<SiteList, Error> {
        Deferred {
            Result<URLRequest, Error> {
                guard let baseURL = self.transport.baseURL ?? self.baseURL else {
                    throw OpenAPITransportError.badURLError()
                }
                var localVarPath = "/studies/{studyKey}/sites"
                localVarPath = localVarPath.replacingOccurrences(of: "{studyKey}", with: studyKey)
                let localVarURL = baseURL.appendingPathComponent(localVarPath)
                var components = URLComponents(url: localVarURL, resolvingAgainstBaseURL: false)
                var queryItems: [URLQueryItem] = []
                if let page = page { queryItems.append(URLQueryItem(name: "page", value: "\(page)")) } 
                if let size = size { queryItems.append(URLQueryItem(name: "size", value: "\(size)")) } 
                if let sort = sort { queryItems.append(URLQueryItem(name: "sort", value: sort)) } 
                if let filter = filter { queryItems.append(URLQueryItem(name: "filter", value: filter)) } 
                components?.queryItems = queryItems
                guard let requestURL = components?.url else {
                    throw OpenAPITransportError.badURLError()
                }
                var request = URLRequest(url: requestURL)
                request.httpMethod = "GET"
                return request
            }.publisher
        }.flatMap { request -> AnyPublisher<SiteList, Error> in 
            return self.transport.send(request: request)
                .mapError { transportError -> Error in 
                    if transportError.statusCode == 400 {
                        do {
                            let error = try self.decoder.decode(InlineObject.self, from: transportError.data)
                            return ListSitesError.code400Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 401 {
                        do {
                            let error = try self.decoder.decode(InlineObject1.self, from: transportError.data)
                            return ListSitesError.code401Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 403 {
                        do {
                            let error = try self.decoder.decode(InlineObject2.self, from: transportError.data)
                            return ListSitesError.code403Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 404 {
                        do {
                            let error = try self.decoder.decode(InlineObject3.self, from: transportError.data)
                            return ListSitesError.code404Error(error)
                        } catch {
                            return error
                        }
                    }
                    if transportError.statusCode == 500 {
                        do {
                            let error = try self.decoder.decode(InlineObject5.self, from: transportError.data)
                            return ListSitesError.code500Error(error)
                        } catch {
                            return error
                        }
                    }
                    return transportError
                }
                .tryMap { response in
                    try self.decoder.decode(SiteList.self, from: response.data)
                }
                .eraseToAnyPublisher()
        }.eraseToAnyPublisher()
    }
}
