/*
 * Mednet EDC API
 * The Mednet EDC (Electronic Data Capture) REST API provides a single-point of access for reading data stored across iMednet data services. This specification documents all available endpoints in the latest version of the API. 
 *
 * The version of the OpenAPI document: 1.3.6
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.api;

import io.micronaut.http.annotation.*;
import io.micronaut.core.annotation.*;
import io.micronaut.http.client.annotation.Client;
import io.micronaut.core.convert.format.Format;
import reactor.core.publisher.Mono;
import org.openapitools.model.InlineObject;
import org.openapitools.model.InlineObject1;
import org.openapitools.model.InlineObject2;
import org.openapitools.model.InlineObject3;
import org.openapitools.model.InlineObject5;
import org.openapitools.model.IntervalList;
import javax.annotation.Generated;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import javax.validation.Valid;
import javax.validation.constraints.*;

@Generated(value="org.openapitools.codegen.languages.JavaMicronautClientCodegen", date="2025-07-14T13:50:33.483639736Z[Etc/UTC]", comments = "Generator version: 7.14.0")
@Client("${openapi-micronaut-client-base-path}")
public interface IntervalsApi {
    /**
     * List intervals (visit definitions) in a study
     *
     * @param studyKey Study key identifying the study context for the request (required)
     * @param page Page index to retrieve (0-based) (optional, default to 0)
     * @param size Number of items to return per page (max 500) (optional, default to 25)
     * @param sort Sorting criteria in the format &#x60;property,ASC&#x60; or &#x60;property,DESC&#x60;. Can be repeated. (optional)
     * @param filter Optional filter criteria to apply, in the format &#x60;attribute&#x3D;&#x3D;value&#x60; with support for &gt;, &gt;&#x3D;, &lt;, &lt;&#x3D;, !&#x3D;. Multiple criteria can be combined with &#x60;;&#x60; (AND) or &#x60;,&#x60; (OR). (optional)
     * @return IntervalList
     */
    @Get(uri="/studies/{studyKey}/intervals")
    @Consumes({"application/json"})
    Mono<IntervalList> listIntervals(
        @PathVariable(name="studyKey") @NotNull String studyKey, 
        @QueryValue(value="page", defaultValue="0") @Nullable @Min(0) Integer page, 
        @QueryValue(value="size", defaultValue="25") @Nullable @Min(1) @Max(500) Integer size, 
        @QueryValue(value="sort") @Nullable String sort, 
        @QueryValue(value="filter") @Nullable String filter
    );

}
