/**
 * Mednet EDC API
 * The Mednet EDC (Electronic Data Capture) REST API provides a single-point of access for reading data stored across iMednet data services. This specification documents all available endpoints in the latest version of the API. 
 *
 * The version of the OpenAPI document: 1.3.6
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */
package org.openapitools.client.api

import org.openapitools.client.model.InlineObject
import org.openapitools.client.model.InlineObject1
import org.openapitools.client.model.InlineObject2
import org.openapitools.client.model.InlineObject3
import org.openapitools.client.model.InlineObject5
import org.openapitools.client.model.Job
import org.openapitools.client.core._
import org.openapitools.client.core.CollectionFormats._
import org.openapitools.client.core.ApiKeyLocations._

object JobsApi {

  def apply(baseUrl: String = "https://edc.prod.imednetapi.com/api/v1/edc") = new JobsApi(baseUrl)
}

class JobsApi(baseUrl: String) {

  /**
   * Expected answers:
   *   code 200 : Job (Successful response with job status information)
   *   code 400 : InlineObject (Bad request (malformed or invalid input))
   *   code 401 : InlineObject1 (Authentication failed or was not provided)
   *   code 403 : InlineObject2 (Authenticated but not allowed to access the resource)
   *   code 404 : InlineObject3 (The requested resource was not found)
   *   code 500 : InlineObject5 (Internal server error (unexpected condition encountered))
   * 
   * Available security schemes:
   *   apiKeyAuth (apiKey)
   *   securityKeyAuth (apiKey)
   * 
   * @param studyKey Study key identifying the study context for the request
   * @param batchId Batch ID of the job to retrieve
   */
  def getJobStatus(studyKey: String, batchId: String)(implicit apiKey: ApiKeyValue, apiKey: ApiKeyValue): ApiRequest[Job] =
    ApiRequest[Job](ApiMethods.GET, baseUrl, "/studies/{studyKey}/jobs/{batchId}", "application/json")
      .withApiKey(apiKey, "x-api-key", HEADER)
      .withApiKey(apiKey, "x-imn-security-key", HEADER)
      .withPathParam("studyKey", studyKey)
      .withPathParam("batchId", batchId)
      .withSuccessResponse[Job](200)
      .withErrorResponse[InlineObject](400)
      .withErrorResponse[InlineObject1](401)
      .withErrorResponse[InlineObject2](403)
      .withErrorResponse[InlineObject3](404)
      .withErrorResponse[InlineObject5](500)
      



}

