/**
 * Mednet EDC API
 * The Mednet EDC (Electronic Data Capture) REST API provides a single-point of access for reading data stored across iMednet data services. This specification documents all available endpoints in the latest version of the API. 
 *
 * The version of the OpenAPI document: 1.3.6
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package org.openapitools.client.api;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.Set;

import jakarta.ws.rs.*;
import jakarta.ws.rs.core.Response;
import jakarta.ws.rs.core.MediaType;

import org.eclipse.microprofile.rest.client.annotation.RegisterProvider;
import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;

import org.openapitools.client.model.InlineObject;
import org.openapitools.client.model.InlineObject1;
import org.openapitools.client.model.InlineObject2;
import org.openapitools.client.model.InlineObject3;
import org.openapitools.client.model.InlineObject5;
import org.openapitools.client.model.Job;
import java.util.List;
import java.util.Map;

/**
 * Mednet EDC API
 *
 * <p>The Mednet EDC (Electronic Data Capture) REST API provides a single-point of access for reading data stored across iMednet data services. This specification documents all available endpoints in the latest version of the API. 
 */
@RegisterRestClient
@RegisterProvider(ApiExceptionMapper.class)
@Path("/studies/{studyKey}/jobs/{batchId}")
public interface JobsApi  {

    /**
     * Retrieve job status by batch ID
     */
    @GET
    
    @Produces({ "application/json" })
    Job getJobStatus(@PathParam("studyKey") String studyKey, @PathParam("batchId") String batchId) throws ApiException, ProcessingException;
}
